body {
    font-family: sans-serif;
    color: rebeccapurple;
    min-height: 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: minmax(min-content, 800px);
    grid-template-rows: auto;
    gap: 2rem;
    justify-content: center;
}
